# Dependencies
node_modules

# Environment variables
.env

# Build output
dist

# Prisma generated client
node_modules/.prisma

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest coverage
coverage

# OS files
.DS_Store
Thumbs.db

# Editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?